---
import { useTranslations } from 'i18n'
import { capitalize } from 'helpers'
import type { Locale, Project } from 'types'

import { ImageCarousel } from 'components/ui'
import { Icon } from 'astro-icon/components'

interface Props extends Project {}

const { icon, title, images, source, figma, preview } = Astro.props

const locale = Astro.currentLocale as Locale
const t = useTranslations(locale)
---

<div class='mt-4 w-5/6 min-w-[300px] xs:mt-6 md:mt-10 lg:w-3/4 2xl:w-[1120px]'>
    <div class='flex items-center justify-between'>
        <a href=`${preview}` target='_blank' class='flex items-center gap-2 md:gap-3'>
            <img src={icon} class='h-14 md:h-20' />
            <h3 class='mt-1 text-3xl font-bold text-zinc-800 dark:text-white md:text-4xl'>
                {capitalize(title)}
            </h3>
        </a>

        <div class='mt-2 flex gap-1.5 md:gap-4'>
            <a href={source} target='blank'>
                <Icon
                    name='Code'
                    width={30}
                    height={30}
                    class='cursor-pointer duration-200 hover:scale-105 md:hidden'
                    color='white'
                />
                <button
                    class='hidden w-32 rounded-md border-2 border-red-400 py-0.5 text-center font-medium text-red-400 duration-300 hover:border-slate-400 hover:bg-slate-400 hover:text-zinc-200 dark:border-[#05CEC2] dark:text-teal-400 dark:hover:border-slate-200 dark:hover:bg-slate-200 dark:hover:text-midnight md:block'
                >
                    {t('ui.buttons.source')}
                </button>
            </a>
            <a href={preview} target='blank'>
                <Icon
                    name='Monitor'
                    width={30}
                    height={30}
                    class='cursor-pointer duration-200 hover:scale-105 md:hidden'
                    color='white'
                />
                <button
                    class='hidden w-32 rounded-md border-2 border-red-400 bg-red-400 py-0.5 text-center font-medium text-zinc-200 duration-300 hover:border-slate-400 hover:bg-slate-400 dark:border-[#05CEC2] dark:bg-[#05CEC2] dark:text-midnight dark:hover:border-slate-200 dark:hover:bg-slate-200 md:block'
                >
                    {t('ui.buttons.preview')}
                </button>
            </a>
        </div>
    </div>

    <ImageCarousel images={images} />

    <h2 class='mt-4 text-2xl font-bold text-zinc-800 dark:text-white md:text-3xl'>
        {t('ui.labels.description')}
    </h2>
    <p class='mt-2 text-xl font-normal text-zinc-800 dark:text-white md:text-2xl'>
        {t(`projects.${title}.description`)}
    </p>

    <h2 class='mt-6 text-2xl font-bold text-zinc-800 dark:text-white md:text-3xl'>
        {t('ui.labels.tech-stack')}
    </h2>
    <p class='mt-2 text-xl font-normal text-zinc-800 dark:text-white md:text-2xl'>
        {t(`projects.${title}.tech-stack`)}
    </p>

    <h2 class='mt-6 text-2xl font-bold text-zinc-800 dark:text-white md:text-3xl'>
        {t('ui.labels.development-process')}
    </h2>
    <p class='mt-2 text-xl font-normal text-zinc-800 dark:text-white md:text-2xl'>
        {t(`projects.${title}.development-process`)}
    </p>

    <h2 class='mt-6 text-2xl font-bold text-zinc-800 dark:text-white md:text-3xl'>
        {t('ui.labels.links')}
    </h2>

    <p
        class='mt-2 text-xl font-normal text-zinc-800 underline-offset-4 dark:text-white md:text-2xl'
    >
        <a href={figma} target='blank' class='underline'>{t('ui.links.figma-file')}</a>
        <span class='sm:mx-1'>|</span>
        <a href={source} target='blank' class='underline'>{t('ui.links.source-code')}</a>
        <span class='sm:mx-1'>|</span>
        <a href={preview} target='blank' class='underline'>{t('ui.links.live-version')}</a>
    </p>
</div>
