---
import { useTranslations } from 'i18n'
import projects from 'content/projects'
import type { Locale } from 'types'

import Layout from 'layouts/Layout.astro'
import Images from './components/Images.astro'

export const getStaticPaths = () => {
    const paths = [
        { params: { project: 'tasker' } },
        { params: { project: 'lapchess' } },
        { params: { project: 'carmarket' } }
    ] as const

    return paths
}

const { project } = Astro.params

const { title, icon, images, figma, preview, source } = projects.find(
    (element) => element.title.toLowerCase() === project
)!

const locale = Astro.currentLocale as Locale
const t = useTranslations(locale)
---

<Layout title='Lapchess'>
    <div class='mt-10 w-5/6 lg:w-3/4 2xl:w-[1100px]'>
        <div class='flex items-center justify-between'>
            <div class='flex items-center gap-2'>
                <img src={icon.source} class={icon.style} />
                <h3 class='mt-1 text-4xl font-bold text-zinc-800 dark:text-white'>{title}</h3>
            </div>
            <div class='mt-2 flex gap-4'>
                <a
                    href={source}
                    target='blank'
                    class='w-32 rounded-md border-2 border-red-400 py-0.5 text-center font-medium text-red-400 transition duration-300 hover:border-slate-400 hover:bg-slate-400 hover:text-zinc-200 dark:border-[#05CEC2] dark:text-teal-400 dark:hover:border-slate-200 dark:hover:bg-slate-200 dark:hover:text-midnight'
                >
                    {t('ui.buttons.source')}
                </a>
                <a
                    href={preview}
                    target='blank'
                    class='w-32 rounded-md bg-red-400 py-0.5 text-center font-medium text-zinc-200 transition duration-300 hover:bg-slate-400 dark:bg-[#05CEC2] dark:text-midnight dark:hover:bg-slate-200'
                >
                    {t('ui.buttons.preview')}
                </a>
            </div>
        </div>

        <Images images={images} />

        <h2 class='mt-4 text-3xl font-bold text-zinc-800 dark:text-white'>
            {t('ui.labels.description')}
        </h2>
        <p class='mt-2 text-2xl font-normal text-zinc-800 dark:text-white'>
            {t(`projects.${project}.description`)}
        </p>

        <h2 class='mt-6 text-3xl font-bold text-zinc-800 dark:text-white'>
            {t('ui.labels.tech-stack')}
        </h2>
        <p class='mt-2 text-2xl font-normal text-zinc-800 dark:text-white'>
            {t(`projects.${project}.tech-stack`)}
        </p>

        <h2 class='mt-6 text-3xl font-bold text-zinc-800 dark:text-white'>
            {t('ui.labels.development-process')}
        </h2>
        <p class='mt-2 text-2xl font-normal text-zinc-800 dark:text-white'>
            {t(`projects.${project}.development-process`)}
        </p>

        <h2 class='mt-6 text-3xl font-bold text-zinc-800 dark:text-white'>
            {t('ui.labels.links')}
        </h2>

        <p class='mt-2 text-2xl font-normal text-zinc-800 underline-offset-4 dark:text-white'>
            <a href={figma} target='blank' class='underline'>{t('ui.links.figma-file')}</a>
            <span class='mx-1'>|</span>
            <a href={source} target='blank' class='underline'>{t('ui.links.source-code')}</a>
            <span class='mx-1'>|</span>
            <a href={preview} target='blank' class='underline'>{t('ui.links.live-version')}</a>
        </p>
    </div>
</Layout>
